body {
    background-color: rgb(59, 59, 124);
    background-clip: content-box; 
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: fantasy;
    font-size: 57px;
  }
  
  mark {
    background-color: hsl(0, 0%, 100%);
    color: black;
  }