@font-face {
  font-family: 'Scrap';
  src: url(Scrap-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: rgb(59, 59, 124);
    background-clip: content-box; 
  }
  
  h1 {
    font-family: 'Scrap', Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: white;
    text-align: center;
  }

  h2 {
    font-family: 'Scrap', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 75px;
    color:firebrick
  }

  h3 {
    font-family: 'Scrap', Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 75px;
    color:firebrick
  }

  .shape-box {
  float: left; /* Essential for shape-outside to work */
  width: 150px;
  height: 2px;
  background-color: #ffffff; /* For visualization */
  border-radius: 50%; /* Makes the visible element a circle */
  shape-outside: circle(50%); /* Defines the text wrap boundary as a circle */
  shape-margin: 50px; /* Adds space around the circle */
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(156, 60, 60)
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

  h6 {
    color: white;
    text-align: left;
  }
  
  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 57px;
  }
  
  mark {
    background-color: hsl(0, 0%, 100%);
    color: black;
  }

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    z-index: -1;
  }

  button {
    font-family: 'Scrap', Arial, Helvetica, sans-serif
    
  }

  

